.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7vh;
  color: white;
  background-color: #66c08a;
  a {
    text-decoration: none;
    color: lightgoldenrodyellow;
  }
}
